<div class="flex-row">
  <div class="flex-row comment-header">
    <div   class="row  max-flex-column">
      <mat-form-field appearance="outline" >
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newComment.name">
      </mat-form-field>
    </div>
    <div class="row max-flex-column" >
      <mat-form-field appearance="outline" >
        <mat-label>Text</mat-label>
        <textarea matInput [(ngModel)]="newComment.text" style="height:80px;"></textarea>
      </mat-form-field>
    </div>
    <div class="flex-row max-flex-column">
      <button tabindex="3" class="width_200;" (click)="addNewComment(newComment)" mat-raised-button matTooltip="New comment"
        color="primary">Add Comment</button>
    </div>
  </div>

  <div *ngIf="listComments" class="flex-row">
    <div class="flex-column" *ngFor="let commentItem of listComments">
      <app-comment-item (delCommentEvent)="loadComments()" [currentComment]="commentItem">
      </app-comment-item>
    </div>
  </div>
</div>
