<mat-card *ngIf="currentComment" class="comment-card">
  <mat-card-header>
    <mat-card-title><a>{{currentComment.name}}</a></mat-card-title>
    <mat-card-subtitle>{{currentComment.timestamp | date:"dd.MM.yyyy hh:mm:ss"}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="map-content-wrap">
   <span class="span-custon">{{currentComment.text}}</span>
  </mat-card-content>
  <mat-card-footer>
    <button class="button-center" (click)="deleteComment()" mat-raised-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-footer>
  <!-- identifikator je neviditelny-->
  <div class="row" class="invisible">
    <a>{{currentComment.id}}</a>
  </div>
</mat-card>
